<h1>Add a Word to the Dictionary!</h1>
<center><form action="/words" method="post" class="form">
  <label for="word">Enter a word: </label>
  <input type="text" name="text" placeholder=" Enter a word!">
  <input type="submit" class="btn">
</form></center>
