<h1>About The Word <%= @word.text.upcase %></h1>
<center><table class="table table-striped">
  <thead>
    <th style="text-align-center">Text</th>
    <th style="text-align-center">Letters</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @word.text %></td>
      <td><%= @word.letters %></td>
    </tr>
  </tbody>
</table></center>
