<h1>Anagrams</h1>

<center><form action="/" method="post" class="form">
  <label for="word">Enter a word: </label>
  <input type="text" name="word" placeholder=" 3 letters only, please!">
  <input type="submit" class="btn">
</form></center>
