<h1>Anagrams</h1>

<% if @error.present? %>
  <center><i class="fa fa-exclamation-triangle fa-5x"></i><p class='error'><%= "#{@error}" %></p></center>
  <% end %>

<center><form action="/" method="post" class="form">
  <label for="word">Enter a word: </label>
  <input type="text" name="word" placeholder=" 3 letters only, please!">
  <input type="submit" class="btn">
</form></center>
