<h1>Anagrams for <%= "#{@word}" %></h1>

<ul class="list">
  <% if !@anagrams.nil? %>
  <% @anagrams.each do  |word| %>
  <li>
    <%= word.text %>
  </li>
  <% end %>
  <% else %>
  <%= "No Anagrams for this word" %>
  <% end %>
</ul>
